{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="TwoColumns" />

<f:section name="Configuration">
	<flux:form id="fluidfluxform" label="Two Column" icon="{f:uri.resource(path: 'Icons/Page.gif')}">
		<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
	</flux:form>
	<flux:flexform.grid>
		<flux:flexform.grid.row>
			<flux:flexform.grid.column colPos="0" name="Content" />
		</flux:flexform.grid.row>
	</flux:flexform.grid>
</f:section>

<f:section name="Main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<f:cObject typoscriptObjectPath="lib.nav.left" />
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<v:page.content.render column="0"/>
			</div>
		</div>
	</div>
</f:section>